.font-title {
    font-family: Montserrat, sans-serif;
}

.car-card {
  max-width: 768px;
  text-align: center;
}

td {
  text-align: left;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
